{% extends 'foodapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
{{ title }}{{ block.super }}
{% endblock %}

{% block content %}

<div class="slider-wrap no-slanted">
    <div class="slider-item" style="background-image: url({% static 'foodapp/img/hero_1.jpg'%});">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <h1 data-aos="fade-up">Contact Foody</h1>
                    <p data-aos="fade-up" data-aos-delay="200"><a href="{% url 'home' %}"
                                                                  class="btn btn-white btn-outline-white">Get
                        Started</a></p>
                </div>
            </div>
        </div>

    </div>
    <!-- END slider -->
</div>


<section class="section  pt-5 top-slant-white2 relative-higher bottom-slant-gray">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>{{ form.name.label }}</label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>{{ form.email.label }}</label>
                            {{ form.email }}
                            {{ form.email.errors }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>{{ form.message.label }}</label>
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 pl-2 pl-lg-5">

                <div class="col-md-8 mx-auto contact-form-contact-info">
                    <h4 class="mb-5">Contact Details</h4>
                    <p class="d-flex">
                        <span class="ion-ios-location icon mr-5"></span>
                        <span>34 Street Name, City Name Here, United States</span>
                    </p>

                    <p class="d-flex">
                        <span class="ion-ios-telephone icon mr-5"></span>
                        <span>+1 242 4942 290</span>
                    </p>

                    <p class="d-flex">
                        <span class="ion-android-mail icon mr-5"></span>
                        <span>info@yourdomain.com</span>
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>


{% endblock %}