{% extends 'foodapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
{{ title }}{{ block.super }}
{% endblock %}


{% block content %}


<div class="slider-wrap">
    <div class="slider-item" style="background-image: url({{ blog.image.url }});">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <p class="mb-2" data-aos="fade-up">{{ blog.time_create }} <span class="mx-3">&bullet;</span> Posted
                        by <a
                                href="#" target="_blank">{{ blog.author }}</a></p>
                    <h1 data-aos="fade-up" data-aos-delay="100">{{ blog.name }}</h1>

                </div>
            </div>
        </div>

    </div>
    <!-- END slider -->
</div>


<section class="section pt-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-content">
                <h3 class="mb-4">{{ blog.name }}</h3>
                <p>{{ blog.content }}</p>
                <p><img src="{{blog.image.url}}" alt="Image" class="img-fluid rounded"></p>


                <div class="pt-5">

                    <p>Categories:
                        {% for category in blog.category.all %}
                        {% if forloop.last %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% else %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>,
                        {% endif %}
                        {% endfor %}
                        Tags:
                        {% for tag in blog.tag.all %}
                        {% if forloop.last %}
                        <a href="#">{{ tag.name }}</a>
                        {% else %}
                        <a href="#">{{ tag.name }}</a>,
                        {% endif %}
                        {% endfor %}

                </div>

                <div class="pt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="img/person_2.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jacob Smith</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>

                        <li class="comment">
                            <div class="vcard bio">
                                <img src="img/person_3.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Chris Meyer</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="img/person_2.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>Chintan Patel</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                                            laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                                            enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                            nihil?</p>
                                        <p><a href="#" class="reply">Reply</a></p>
                                    </div>


                                    <ul class="children">
                                        <li class="comment">
                                            <div class="vcard bio">
                                                <img src="img/person_1.jpg" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3>Jean Doe</h3>
                                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                                                    quidem laborum necessitatibus, ipsam impedit vitae autem, eum
                                                    officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
                                                    impedit necessitatibus, nihil?</p>
                                                <p><a href="#" class="reply">Reply</a></p>
                                            </div>

                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="vcard bio">
                                                        <img src="img/person_2.jpg" alt="Image placeholder">
                                                    </div>
                                                    <div class="comment-body">
                                                        <h3>Ben Afflick</h3>
                                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                                            autem, eum officia, fugiat saepe enim sapiente iste iure!
                                                            Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                        <p><a href="#" class="reply">Reply</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="comment">
                            <div class="vcard bio">
                                <img src="img/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum
                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente
                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary btn-md">
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 sidebar pl-lg-5">
                <div class="sidebar-box">
                    <img src="img/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4 w-50 rounded-circle">
                    <h3>About The Author</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                        voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                        similique, inventore eos fugit cupiditate numquam!</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                </div>

                <div class="sidebar-box">
                    <div class="categories">
                        <h3>Categories Blog</h3>
                        {% for category_blog in category_blogs %}
                        <li><a href="{{ category_blog.get_absolute_url }}">{{ category_blog.name }}<span>(12)</span></a>
                        </li>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}