{% extends 'foodapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
{{ title }}{{ block.super }}
{% endblock %}


{% block content %}


<div class="slider-wrap">
    <div class="slider-item" style="background-image: url({{ blog.image.url }});">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <p class="mb-2" data-aos="fade-up">{{ blog.time_create }} <span class="mx-3">&bullet;</span> Posted
                        by <a
                                href="#" target="_blank">{{ blog.author }}</a></p>
                    <h1 data-aos="fade-up" data-aos-delay="100">{{ blog.name }}</h1>

                </div>
            </div>
        </div>

    </div>
    <!-- END slider -->
</div>


<section class="section pt-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-content">
                <h3 class="mb-4">{{ blog.name }}</h3>
                <p>{{ blog.content }}</p>
                <p><img src="{{blog.image.url}}" alt="Image" class="img-fluid rounded"></p>


                <div class="pt-5">

                    <p>Categories:
                        {% for category in blog.category.all %}
                        {% if forloop.last %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% else %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>,
                        {% endif %}
                        {% endfor %}
                        Tags:
                        {% for tag in blog.tag.all %}
                        {% if forloop.last %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                        {% else %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>,
                        {% endif %}
                        {% endfor %}

                </div>

                <!-- comment-list -->
                <div class="pt-5">
                    {% if blog.comment_set.all|length == 0 %}
                    <h3 class="mb-5">Комментариев нет</h3>
                    {% else %}
                    <h3 class="mb-5">Количество комментариев: {{ blog.comment_set.all|length }}</h3>
                    {% endif %}
                    <ul class="comment-list">
                        {% for comment in blog.comment_set.all %}
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="{{ comment.author.profile.photo.url }}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>{{ comment.author }}</h3>
                                <div class="meta">{{ comment.time_create }}</div>
                                <p>{{ comment.content }}</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                        {% endfor %}
                        <!-- END comment-list -->


                        {% if request.user.is_authenticated %}
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label>{{ form.content.label }}</label>
                                    {{ form.content }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary btn-md">
                                </div>

                            </form>
                        </div>
                        {% else %}
                        <h1>Авторизуйтесь чтоб оставлять комментарии</h1>
                        {% endif %}


                </div>

            </div>

            <div class="col-lg-4 sidebar pl-lg-5">
                <div class="sidebar-box">
                    <img src="{{blog.author.profile.photo.url}}" alt="Image placeholder"
                         class="img-fluid mb-4 w-50 rounded-circle">
                    <h3><a href="#">{{ blog.author }}</a></h3>
                    <p>{{ blog.author.profile.about_me|truncatewords:10 }}</p>

                </div>

                <div class="sidebar-box">
                    <div class="categories">
                        <h3>Categories Blog</h3>
                        {% for category_blog in category_blogs %}
                        <li><a href="{{ category_blog.get_absolute_url }}">{{ category_blog.name }}<span>({{ category_blog.blog_set.all|length }})</span></a>
                        </li>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}