{% extends 'foodapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
{{ title }}{{ block.super }}
{% endblock %}

{% block content %}
{% include 'foodapp/inc/_slider.html' %}


<section class="section bg-light pt-0 bottom-slant-gray">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Our Recipes</h2>
                    <h3>Number of recipes: {{ dishs|length }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">

            {% for dish in dishs %}
            {% if forloop.counter0|divisibleby:"2" %}
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url({{ dish.image.url }});"
                         data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>{{ dish.name }}</h3>
                        <p>{{ dish.description|truncatewords:15 }}</p>
                        <p class="text-primary h3">${{ dish.price }}</p>
                    </div>
                </div>
                {% else %}
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url({{ dish.image.url }});" data-aos="fade"></div>
                    <div class="text">
                        <h3>{{ dish.name }}</h3>
                        <p>{{ dish.description|truncatewords:15 }}</p>
                        <p class="text-primary h3">${{ dish.price }}</p>

                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section> <!-- .section -->


{% endblock %}