{% extends 'foodapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
{{ title }}{{ block.super }}
{% endblock %}



{% block content %}

{% include 'foodapp/inc/_slider.html' %}


<section class="section bg-light pt-0 bottom-slant-gray">
    <h1>Выбран тэг - #{{ tag_slug }}</h1>

    <div class="container">
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="blog d-block">
                    <a class="bg-image d-block" href="{{ blog.image.url }}"
                       style="background-image: url({{ blog.image.url }});"></a>
                    <div class="text">
                        <h3><a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a></h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> {{ blog.time_create }}</span> <br>
                        </p>
                        <p>{{ blog.content|truncatewords:20 }}</p>

                        <p><a href="{{ blog.get_absolute_url }}" class="btn btn-primary btn-sm">Read More</a></p>

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

    
